<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'SETTINGS.TITLE' | translate}}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Language</ion-label>
    <ion-select [(ngModel)]="currentLang" (ionChange)="langHandler($event)" placeholder="Select..">
      <ion-select-option value="zh-cn">中文</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
    </ion-select>
  </ion-item>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
